*
!core/
!core/**
!lang/
!lang/**
!tools/
!tools/teul-cli/
!tools/teul-cli/**
!solutions/
!solutions/seamgrim_ui_mvp/
!solutions/seamgrim_ui_mvp/**

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/Thumbs.db
**/target/
**/build/
**/out/
